.panel {
}

.panelHeader {
  user-select: none;
  display: flex;
  align-items: center;
  line-height: 31px;
  padding: 0 0.5rem;
  background-color: var(--panel-header-color);
  border-bottom: 1px solid var(--panel-header-border-color);
  color: #fff;
  font-weight: bold;
  position: sticky;
  top: 0;
}

.panelContent.padded {
  padding: 0.5rem;
}
