.input {
  width: 100%;
  height: 28px;
  border-radius: var(--border-radius);
  border: 1px solid var(--border-color);
  padding: 0 0.25em;
  background-color: transparent;
  color: var(--text-color);
}

.input:focus {
  outline: 3px solid var(--accent-color);
}
