.container {
  border: 1px solid #fff;
  border-radius: var(--border-radius);
}

.button {
  color: #fff;
  font-size: 13px;
  line-height: 20px;
  white-space: nowrap;
  padding: 0 0.3rem;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.button:hover {
  background-color: #ffffff55;
}

.button:not(:last-child) {
  border-right: 1px dotted #fff;
}
