.frame {
  padding: 1em;
}

.header {
  border-bottom: 2px solid #48375a;
  margin-bottom: 1rem;
  padding-bottom: 0.25rem;
}

.title {
  line-height: 1;
  font-size: 1.8rem;
}

.about {
  display: flex;
  align-items: flex-start;
  margin-bottom: 1rem;
}

.symbol {
  padding-left: 1rem;
  padding-right: 0.5rem;
  opacity: 0.5;
}
