.app {
  display: flex;
  flex-flow: column nowrap;
  height: 100%;
}

.header {
  border-bottom: 1px solid #000;
  height: 30px;
  flex: 0 0 30px;
}

.main {
  display: flex;
  flex-flow: row nowrap;
  flex: 1 1 100%;
}

.iframe {
  width: 100%;
  flex: 1 1 100%;
  outline: none;
  border: none;
  border-left: 1px solid black;
  border-right: 1px solid black;
}
