.app {
  display: flex;
  flex-flow: column nowrap;
  height: 100%;
  background-color: var(--bg-color);
  color: var(--text-color);
}

.header {
  padding: 0.5rem;
  color: var(--text-color);
  border-bottom: 1px solid var(--border-color);
}

.logoText {
  font-size: 1.2rem;
  font-weight: bold;
}

.logoAccent {
  color: var(--accent-color);
}

.main {
  display: flex;
  flex-flow: row nowrap;
  flex: 1 1 100%;
  overflow-y: auto;
}
