.sidebar {
  width: 300px;
  overflow-y: auto;
  overflow-x: visible !important;
  position: relative;
  flex-shrink: 0;
  flex-grow: 0;
}

.resizeHandle {
  width: 9px;
  position: absolute;
  top: 0;
  bottom: 0;
  background-color: transparent;
  z-index: 100;
}

.resizeHandle:hover,
.resizeHandle.dragging {
  background-color: var(--canvas-sizer-hover-color);
  cursor: ew-resize;
}

.resizeHandle.left {
  left: 0;
}

.resizeHandle.left:hover,
.resizeHandle.left.dragging {
  border-left: 1px solid var(--accent-color);
}

.resizeHandle.right {
  right: 0;
}

.resizeHandle.right:hover,
.resizeHandle.right.dragging {
  border-right: 1px solid var(--accent-color);
}
