.attrsList {
  list-style: none;
}

.attrGroup {
  padding-bottom: 0.5rem;
}

.attrGroup:not(:last-child) {
  margin-bottom: 0.5rem;
  border-bottom: 1px dotted var(--border-color);
}

.attrHeader {
  padding-bottom: 0.25rem;
  font-size: 1em;
}

.attrDescription {
  font-size: 0.9em;
  padding-bottom: 0.5rem;
}
