.panel {
}

.panelHeader {
  display: flex;
  align-items: center;
  padding: 0.5rem;
  background-color: #3191ff;
  border-bottom: 1px solid #1060ba;
  color: #fff;
  font-weight: bold;
  position: sticky;
  top: 0;
}

.panelContent {
  padding: 0.5rem;
}

.attrsList {
  list-style: none;
}

.attrGroup {
  padding-bottom: 0.5rem;
}

.attrGroup:not(:last-child) {
  margin-bottom: 0.5rem;
  border-bottom: 1px dotted #000;
}

.attrHeader {
  padding-bottom: 0.25rem;
  font-size: 1em;
}

.attrDescription {
  font-size: 0.9em;
  padding-bottom: 0.5rem;
}
