.panelHeader {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.clearButton {
  background-color: transparent;
  border: none;
  color: #fff;
  font-size: 0.85rem;
  font-weight: bold;
  padding: 0 0.5rem;
  cursor: pointer;
}

.clearButton:hover {
  background-color: rgba(255, 255, 255, 0.25);
}

.actionList {
  /* list-style: none; */
  margin-left: 1rem;
}

.action {
  font-size: 0.85rem;
  margin-bottom: 0.25rem;
}
